html * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  background:black;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.w-50 {
  width: 50%;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%
}

.overflow-hidden {
  overflow: hidden;
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.z-2 {
  z-index: 2;
}

.pointer:hover {
  cursor: pointer;
}

.p-10 {
  padding: 10px;
}

.bg-black {
  background: black;
}

.m-auto {
  margin: auto;
}

.top-50 {
  top: 50vh;
}

.right-0 {
  right: 0;
}

.left-0 {
  left: 0;
}

.w-200 {
  width: 200px;
}

.fit-content {
  width: fit-content;
}

.top-70 {
  top: 70vh;
}

.justify-between {
  justify-content: space-between;
}